.intro {
    display: flex;
    max-width: 1400px;
    height: 77vh;
    margin: auto;
    margin-bottom: 18rem;
    /* background-color: antiquewhite; */
}

.i-left {
    /* background-color: aqua; */
    margin: 4rem 0px;
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
}

.i-right {
    padding-top: 9rem;
    flex: 1;
    /* transition: tranform .2s; */
    transform: scale(2rem);
    /* margin: auto; */
    /* zoom: 150%; */
    /* background-color: aqua; */
}

.i-name {
    display: flex;
    flex-direction: column;

}

.i-name>:nth-child(1) {

    color: var(--javaRed);
    font-weight: bold;
    margin-bottom: -2rem;
    font-size: 5rem;
}

.i-name>:nth-child(2) {

    color: var(--darkpurple);
    font-weight: bold;
    font-size: 5rem;
}

.i-name>:nth-child(3) {

    color: var(--grey);
    font-weight: 100;
    font-size: 1.1rem;
    margin-top: 10px;
}

.i-button {

    width: 6rem;
    height: 2rem;

}

.i-right>* {
    /* position: absolute; */
    zoom: 150%;
    z-index: 1;
}

.i-image {
    transform: scale(0.65);
    top: 5%;
    left: 40%;

}

@media screen and (max-width: 480px) {
    .intro {
        flex-direction: column;
        gap: 5rem;
        height: 44rem;
        margin-top: 1%;
    }

    .i-right {
        transform: scale(0.8);
        left: -3rem;
    }

    .i-image {
        transform: scale(0.55);
        top: -65%;
        left: -90%;

    }

}