.my-card {
    /* height: 13rem; */
    position: absolute;
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
    align-items: center;
    width: 10rem;
    text-align: center;
    /* background: #ffff; */
    /* background: rgb(219, 213, 213); */
    box-shadow: -3px -3px 10px #ffffff70, 3px 3px 15px #00000020;
    border-radius: 20px;
    /* border: black 2px solid; */
    padding: 0px 10px 2rem 10px;
    /* background-color: aqua; */
}

.my-card:hover {
    transform: scale(1.02);
    cursor: pointer;
    /* background-color: aqua; */
    /* padding: 10px; */
}

.in-but {
    margin-top: 10%;
    border-radius: 34px;
    border: none;
    color: white;
    font-size: 16px;
    padding: 8px 20px 8px 20px;
    background: linear-gradient(180deg, #C3073F 100%, #0e8bca 99%);
    box-shadow: 0px 1px 24px 0px rgba(220, 22, 22, 0.46);
    display: block;
}


.my-card span:nth-child(2) {
    color: var(--darkpurple);
    font-size: 32px;
}

.my-card>img {

    transform: scale(0.1);
    margin-bottom: -11rem;
    margin-top: -8.5rem;
}

@media screen and (max-width: 480px) {
    .my-card {
        width: 60%;
        justify-content: center;
        margin-left: 15%;
    }
}