.card{
    width: 9rem;
    height: 13rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 10rem;
    text-align: center;
    background: rgba(233, 205, 205, 0.26) ;
    border: 7px solid var(--darkpurple);
    box-shadow: var(--boxShadow);
    border-radius: 20px;
    padding: 0px 10px 2rem 10px;

}

.card span:nth-child(2){
    color: var(--grey);
    font-size: 16px;
}

.card span:nth-child(2){
    color: var(--darkpurple);
    font-size: 32px;
}

.card> img{

    transform: scale(0.1);
    margin-bottom: -11rem; 
    margin-top: -8.5rem;
}

@media screen and (max-width: 480px){
    .card{
        width: 60%;
        justify-content: center;
        margin-left: 15%;
    }
  }