.contact {
    padding: 0 3rem 0 3rem;
    display: flex;
    /* height: 80vh; */
    margin-top: 8rem;
}

.c-left>:nth-child(1) {

    color: var(--black);
    font-weight: bold;
    font-size: 4rem;
}

.c-left>:nth-child(3) {

    color: var(--darkpurple);
    font-weight: bold;
    font-size: 3rem;
    margin-left: 1rem;
}

.c-right {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1;
}

.c-right>form {

    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

}

.c-right .user {

    width: 20rem;
    height: 2rem;
    padding: 0.3rem;
    outline: none;
    border: 2px solid var(--darkpurple);
    border-radius: 8px;
    font-size: 16px;

}

textarea {
    height: 4rem !important;
}


@media screen and (max-width: 480px) {
    .contact {
        padding: 0;
        flex-direction: column;
        margin-top: -10%;
        gap: 2rem;
        height: 40rem;
    }

    .c-right .user {
        width: 16rem;
    }

    .c-left>:nth-child(1) {

        color: var(--black);
        font-weight: bold;
        font-size: 3rem;
    }

    .c-left>:nth-child(3) {

        color: var(--darkpurple);
        font-weight: bold;
        font-size: 3rem;
        margin-left: 1%;
    }

}