/* Styles required only for the example above */
.scrollspy-example {
    position: relative;
    max-height: 60vh;
    overflow-y: hidden;
    /* overflow-x: hidden; */
    background-color: aqua;
    overflow: auto;
  }